#receiptContainer{
margin: auto;
border: 3px solid beige;
background-image: url(linepaper.jpg);
background-position: center;
background-size:cover;
}

table {
margin: auto;
  text-align: center;
}

#theTotal {
  text-align: center;
  font-style: oblique;
  font-weight: bold;

}

h1{
text-align: center;
font-family:cursive;

}

hr{
  width: 300px;
}

.input{
  text-align: center;
}
